table, tr, th, td {
  border: solid 1px silver;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}
th {
  background-color: grey;
  color: white;
}
.one {background-color: red}
.two {background-color: blue}
.three {background-color: green}
